{% load i18n %}
{% extends "base/base.html"%}

{% block content %}

<section id="thumbnails">
  <div class="page-header">
    <h1>iPhone <small>Application</small></h1>
  </div>
  <div class="row">
  	
	<ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/iphone/armageddon.png" alt="">
        </div>
        <div class="caption">
          <h5>2012 COLLAPSE</h5>
          <p>December 21, 2012 destroy the earth do you know about?</p>
          <p><a href="http://itunes.apple.com/us/app/2012-collapse/id498819932?ls=1&mt=8" class="btn btn-primary">iTunes</a></p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/iphone/exchange.png" alt="">
        </div>
        <div class="caption">
          <h5>HowMuch?</h5>
          <p>This application for your smart trip.</p>
          <p><a href="http://itunes.apple.com/us/app/howmuch/id493757119?ls=1&mt=8" class="btn btn-primary">iTunes</a></p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/iphone/kinggmae.png" alt="">
        </div>
        <div class="caption">
          <h5>King Gmae</h5>
          <p>this application is game at drinking party.</p>
          <p><a href="http://itunes.apple.com/us/app/wanggeim/id450985043?ls=1&mt=8" class="btn btn-primary">iTunes</a></p>
        </div>
      </li>
   </ul>
   <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/iphone/pension.png" alt="">
        </div>
        <div class="caption">
          <h5>연금복권 520</h5>
          <p>매달 500 만원씩 20년간 지급!!</p>
          <p><a href="http://itunes.apple.com/us/app/yeongeumboggweon-520/id453210275?ls=1&mt=8" class="btn btn-primary">iTunes</a></p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/iphone/praised.png" alt="">
        </div>
        <div class="caption">
          <h5>칭찬 듣기</h5>
          <p>하루에 얼마나 많은 칭찬을 들을 시나요?</p>
          <p><a href="http://itunes.apple.com/us/app/cingcan-deudgi/id446600286?ls=1&mt=8" class="btn btn-primary">iTunes</a></p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <img src="/img/iphone/smoking.png" alt="">
        </div>
        <div class="caption">
          <h5>금연 통장</h5>
          <p>금연을 보다 쉽게 할 수 있게 도와주는 금연 통장.</p>
          <p><a href="http://itunes.apple.com/us/app/geumyeon-tongjang/id440971272?ls=1&mt=8" class="btn btn-primary">iTunes</a></p>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endblock %}